<!-- header.ejs -->
<header>
    <nav>
        <ul>
            <!-- Navigation links -->
            <li><a href="/Assignment1/views/home.ejs">Home</a></li>
            <li><a href="/Assignment1/views/about.ejs">About</a></li>
            <li><a href="/Assignment1/views/index.ejs">Index</a></li>
            <li><a href="/Assignment1/views/contact.ejs">Contact</a></li>
            <li><a href="/Assignment1/views/error.ejs">Error</a></li>
        </ul>
    </nav>
</header>
