<nav>
    <ul>
        <li><a href="/Assignment1/views/home.ejs">Home</a></li>
        <li><a href="/Assignment1/views/about.ejs">About</a></li>
        <li><a href="/Assignment1/views/projects.ejs">Projects</a></li>
        <li><a href="/Assignment1/views/services.ejs">Services</a></li>
        <li><a href="/Assignment1/views/contact.ejs">Contact</a></li>
        <li><a href="/Assignment1/views/index.ejs">Contact</a></li>
    </ul>
</nav>
