<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title>Amber Malik - Portfolio</title>
</head>
<body>
  <section>
    <h1>About Me</h1>
    <div class="profile-image">
        <img src="/images/AK.jpg" alt="My Profile Image">
    </div>
    
</section>

  <!-- Main content section -->
  <main>
    <p>Hi, I'm Amber Malik, a Software Engineer in progress. I have a passion for creating awesome web applications. I am still in College to learn and develop my web application skills.</p>
    <p>My goal is to build elegant and efficient web solutions that meet the unique needs of my clients.</p>
  </main>

  <!-- Footer section -->
  <footer>
    <!-- Footer content goes here -->
  </footer>
</body>
</html>
