<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Amber Malik - Portfolio</title>
</head>
<body>
  <div class="nav-wrapper">
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>

  <section class="about-container">
    <h1>About Me</h1>
    <div class="profile-image">
        <img src="/images/Logo.png" alt="My Profile Image">
    </div>
</section>

  <!-- Main content section -->
  <main>
    <h2>Hi there!</h2>
    <p>Welcome to my world of technology and creativity. I'm Amber Malik, a Software Engineer in the making, and I'm on an exciting journey of discovery and innovation.</p>

    <h2>My Passion:</h2>
    <p>I have an unquenchable passion for crafting extraordinary web applications that bring ideas to life. I'm currently in college, honing my skills and expanding my horizons.</p>

    <h2>My Goal:</h2>
    <p>I aspire to build elegant and efficient web solutions that not only meet but exceed the unique needs of my clients. The thrill of continuous learning and the ever-evolving tech landscape keep me motivated.</p>
  </main>


<!-- Footer section -->
<footer>
  <div class="footer-content">
    <h3>Contact Information</h3>
    <p>Email: amber@gmail.com</p>
    <p>Phone: (123) 456-7890</p>

  </div>
  </footer>

  <%- include("../views/partials/footer") %>
</body>
</html>
