<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <% include('partials/header') %>

    <section>
        <h1>My Projects</h1>
        <div class="project">
            <img src="/Assignment1/public/images/Project1.jpg" alt="Project 1 Image">
            <h2>Project 1: Modern E-commerce Website</h2>
            <p>In this project, I spearheaded the development of a cutting-edge e-commerce website from scratch. Leveraging the latest web technologies, I crafted a user-friendly platform that offers seamless navigation and a secure shopping experience. My role involved frontend and backend development, database management, and integration of secure payment gateways. The result is a robust and dynamic online store that enhances the customer shopping journey.</p>
        </div>
        <div class="project">
            <img src="/Assignment1/public/images/Project 2.png" alt="Project 2 Image">
            <h2>Project 2: Web Design Project </h2>
            <p> I took on the task of revamping an existing travel blog, focusing on enhancing its visual appeal and user experience. Employing a responsive design approach, I created an eye-catching layout that adapts seamlessly to various devices. The project involved reimagining the blog's user interface, optimizing images for faster loading times, and ensuring cross-browser compatibility. The result is a sleek and visually captivating travel blog that invites readers to explore the world through captivating stories and imagery.</p>
        </div>
        <div class="project">
            <img src="/Assignment1/public/images/Project3.png" alt="Project 3 Image">
            <h2>Project 3: Corporate Website for XYZ Corporation</h2>
            <p>I had the privilege of designing and developing the official website for XYZ Corporation, a leading player in the industry. The project encompassed the entire web development lifecycle, from initial concept and design to coding and deployment. The website serves as a comprehensive online presence for the corporation, showcasing its products, services, and corporate culture. My contributions included creating a user-friendly interface, optimizing performance for faster loading, and ensuring the website reflects the company's brand identity. The final result is a professional and engaging corporate website that effectively communicates the values and offerings of XYZ Corporation to its stakeholders and customers.</p>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>
